<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>To Do List</h1>
    <% if(todos.length) { %>
        <ul>
            <% for(i of todos) { %>
                <li>
                    <%=i.todo%>-
                        <%=i.done===true?"Done":"Not Done"%>

                </li>
                <% } %>
        </ul>
        <% } else { %>
            <h3>There are currently no To-Dos, take a breather..</h3>
            <% } %>
                <hr>
                <form method="POST" action="/">
                    <input type="text" name="newtodo" required>
                    <button type="submit">ADD TO DO</button>
                </form>
</body>

</html>