<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>To Do List</h1>
    <% if(todos.length) { %>
        <ul>
            <% todos.forEach(function(todo) { %>
                <li>
                    <%= todo.todo %>
                        -
                        <%= todo.done ? 'done' : 'not done' %>
                            <form action="/<%= todo.id %>?_method=DELETE" method="POST">
                                <button type="submit">DELETE</button>
                            </form>
                            <% }) %>
        </ul>
        <% } else { %>
            <h3>There are currently no To-Dos, take a breather..</h3>
            <% } %>
                <hr>
                <form method="POST" action="/">
                    <input type="text " name="todo" required>
                    <button type="submit ">ADD TO DO</button>
                </form>
</body>

</html>